body{
    background-color: rgb(16, 16, 16);
}

table{
    margin-top: 50px;
}

td{
    background-color: rgb(16, 16, 16);
    height: 23px;
    width: 23px;
}

.outerGlow{
    background-color: #554717;
}

.outline{
    background-color: black;
    color: white;
}

.outerGlowLight{
    background-color: #806912;
}

.crescentHighlight{
    background-color: #C4B150;
}

.highlightOne{
    background-color: #959595;
}

.highlightTwo{
    background-color: #7A7A7A;
}

.highlightThree{
    background-color: #848484;
}

.lightHighlight{
    background-color: #D2D2D2;
}

.darkHighlight{
    background-color: #BFBFBF;
}

.chestAndBeltLight{
    background-color: #D4B726;
}

.chestAndBeltDark{
    background-color: #C2A826;
}

.cloakDark{
    background-color: #4C4C4C;
}

.cloakLight{
    background-color: #555555;
}

.darkShadow{
    background-color: #1c1c1c;
}

.lightShadow{
    background-color: #212121;
}

.moonGlow{
    background-color: #2C2A1F;
}

.torsoLight{
    background-color: #D4D2C7;
}

.torsoDark{
    background-color: #C3C0B5;
}

.faceLight{
    background-color: #C9C0B7;
}

.faceMedium{
    background-color: #BFB6AE;
}

.faceDark{
    background-color: #ABA39C;
}

.faceDarker{
    background-color: #A29B94;
}

table{
    border-spacing: 0;
}
